html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: Audiowide, "Google Sans", Roboto, sans-serif;
	margin-top: 32px;
	color: hsl(52, 92%, 54%);
}

h1,
.display {
	font-weight: 700;
}

body,
.main,
.display,
.container,
.buttons,
.copyright {
	display: flex;
}

body,
.main,
.container {
	flex-direction: column;
}

body,
.display {
	align-items: center;
}

.container,
.buttons,
button {
	flex: 1;
}

.main,
.container,
.buttons {
	gap: 4px;
}

body {
	gap: 32px;
	height: 100vh;
	background-color: hsl(220, 15%, 10%);
}

body,
button {
	font-family: "Google Sans", Roboto, sans-serif;
}

.main {
	gap: 12px;
	height: 350px;
	width: 225px;
	padding: 12px;
}

.main,
.display-wrapper,
button {
	border-radius: 4px;
}

.main,
.display-wrapper {
	border: 2px solid hsl(40, 15%, 75%);
}

.display,
.copyright {
	justify-content: flex-end;
}

.display {
	text-wrap: nowrap;
	overflow: clip;
	height: 50px;
	padding: 8px;
	font-size: 20px;
	color : hsl(220, 15%, 20%);
	background-color: hsl(45, 20%, 90%);
	border: 8px solid hsl(45, 20%, 90%, 0);
}

button {
	background-color: hsl(0, 0%, 88%);
	border-color: hsl(45, 10%, 78%);
	font-size: 14px;
}

#ac,
#ce {
	background-color: hsl(5, 92%, 54%);
	border-color: hsl(5, 55%, 45%);
}

.symbols {
	background-color: hsl(140, 60%, 45%);
	border-color: hsl(140, 45%, 35%);
}

#equals {
	background-color: hsl(52, 92%, 54%);
	border-color: hsl(52, 75%, 40%);
}

.copyright {
	font-family: Inter, monospace;
	font-size: 9.5px;
	color: hsl(0, 0%, 88%);
}