html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

h1 {
	margin-top: 32px;
	color: hsl(52, 92%, 54%);
}

body,
.main,
.display,
.container,
.buttons,
.copyright {
	display: flex;
}

body,
.main,
.container {
	flex-direction: column;
}

body,
.display {
	align-items: center;
}

.container,
.buttons,
button {
	flex: 1;
}

.container {
	flex: 2;
}

.main,
.container,
.buttons {
	gap: 4px;
}

body {
	height: 100vh;
	gap: 75px;
}

body,
button {
	font-family: Audiowide, Orbitron, sans-serif;
	background-color: rgb(0, 0, 0);
}

.main {
	height: 350px;
	width: 225px;
	padding: 12px;
	gap: 16px;
	border: 2px, solid hsl(52, 92%, 54%);
}

.main,
.display-wrapper,
button {
	border-radius: 4px;
}

.display {
	border-radius: 2px;
	font-size: 16px;
}

.display,
.copyright {
	justify-content: flex-end;
}

.display {
	overflow: clip;
	height: 50px;
	background-color: darkkhaki;
	border-left: 12px solid darkkhaki;
	border-right: 8px solid darkkhaki;
}

button {
	color: hsl(42, 100%, 95%);
	border-color: #f7f6f291;;
	font-size: 16px;
}

.symbols {
	background-color: hsl(30, 92%, 54%);
}

#equals {
	background-color: hsl(140, 60%, 45%);
}

.copyright {
	font-family: monospace;
	font-size: 9.5px;
	color: #f7f6f29a;
}